*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Baloo Da 2', cursive;
    color:#fff;
}
html{
    height:100%;
}
body{
    background: linear-gradient(rgb(0, 150, 196), rgb(0, 84, 153));
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header{
    width: 100%;
    display: flex;
    background: gray;
    justify-content: space-between ;
    align-items: center;
    padding: 20px 80px;
}
ul {
    display: flex;
    list-style: none;
}
li{
    padding: 0px 25px;
}
a{
    font-size: 25px;
    text-decoration: none;
}
.wrapper, .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
    width: 80%;
    flex-direction: row;
}
.wrapper{
    padding-top: 30px;
    width:100%;
    margin:0 auto;
}
.container > * {
    padding: 0px 25px;
}
.stepen{
    font-size: 40px;
    cursor: pointer;
    transition: ease 0.7s;
}
.stepen:hover{
    transform:scale(1.1);
}
.forecast {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right:10px;
    border:2px solid #fff;
    padding: 15px 10px;
    width:90%;
    background: linear-gradient(rgb(0, 150, 196), rgb(0, 84, 153));
}
.forecast:last-child{
    margin-right: 0;
}
.wrap-forecast{
    padding:40px 0px;
    display: flex;
}
.forecast h3{
    padding-top: 10px;
}
.added-icon{
    width: 130px;
    height: 65px;
}
.added-text{
    text-align:center;
    width: 130px;
}
.summary-icon{
    text-align: center;
}
time span{
    /* padding: 10px; */
    width: 200px;
    height: 200px;
}
@media only screen and (max-width: 600px) {
    header{
        padding: 15px;
    }
    .header-txt{
        font-size:25px;
    }
    li{
        padding:0px 10px;
    }
    ul li:last-child{
        padding: 0;
    }
    a{
        font-size:17px;
    }
    .container{
        width: 90%;
    }
    .container > *{
        padding: 0px 15px;
    }
    .stepen{
        font-size:25px;
    }
    .wrap-forecast{
        visibility: hidden;
        display: none;
    }
  }