*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Sen', sans-serif;
}
body{
    background-color:aliceblue;
}
header {
    width:100%;
    color:#fff;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.title-section{
    background-color:rgb(0, 108, 231);
    padding: 20px;
    border-radius: 20px;
}
.wrapper{
    width:100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.qa-section, .start-game-section{
    width:60%;
    margin:0 auto;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.question{
    padding-top: 20px;
    width: 100%;
    height:150px;
}
.question-section{
    text-align: center;
}
.answer{
    width:100%;
    display: flex;
    align-items: center;
}
.answer-section{
    background-color: #fff;
    width:100%;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid rgb(0, 108, 231);
    cursor: pointer;
    transition: all ease 0.2s;
}
.answer-section:hover {
    background-color: rgb(95, 121, 160)!important;
    color:#fff!important;
}
.prefix{
    border: 1px solid rgb(0, 108, 231);
    background-color:rgb(0, 108, 231);
    color: #fff;
    width: 5%;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
}
.btn {
    font-size: 20px;
    background-color: #fff;
    color:rgb(0, 108, 231);
    border: 3px solid rgb(0, 108, 231);
    outline:none;
    cursor: pointer;
    padding: 10px 60px;
}
.button-section{
    display: flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
}
.btnStart{
    border: 3px solid darkblue;
    color:darkblue;
    width: 100%;
}
.start-game-section {
    padding: 40px;
    background:rgb(0, 108, 231);
    border:3px solid darkblue;
}
label {
    display: block;
    font-size: 25px;
    color: #fff;
}
select, input {
    margin: 10px 0 20px 0;
    font-size: 18px;
    padding: 5px;
    width: 100%;
}
.guessed h1{
   padding: 30px;
}
.guessed{
    flex-direction: column;
    align-items: center;
}
@media only screen and (max-width: 600px) {
    .title-section {
        font-size: 20px;
    }
    .answer-section, .prefix {
        font-size: 13px;
    }
    .qa-section{
        width: 90%;
    }
    .question-section {
        font-size:16px;
    }
    .button-section {
        flex-direction: column;
        justify-content: none;
    }
    .btn{
        font-size:15px;
    }
    .btn-next {
        margin-bottom:30px;
    }
    .warning {
        text-align: center;
        font-size: 15px;
    }
    .start-game-section {
        padding: 40px;
        margin: 0 auto;
        width: 100%;
    }
    label {
        font-size: 18px;
    }
    .info {
        font-size: 18px;
    }
  }